.review-card {
  background-color: var(--secondary-color);
  border-radius: 15px;
  padding: 10px 10px 0;
  margin: 30px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 180px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-img {
  min-width: 600px;  
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.review-name {
  color: var(--bold-text-color);
  font-weight: bold;
  text-align: center;
}

.review-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.review-img-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}

.review-card:hover .review-img {
  transform: scale(1.05);
}


